.fp-section {
    position: relative;
    box-sizing: border-box;
    height: 800px;
}

.fp-section.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

body {
    margin: 0 auto;
    max-width: 500px;
    font-family: "STXihei";
    font-size: 12px;
}

.iframe {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.section {
    background-size: 100% 100%;
}

.ele {
    display: none;
}

.loader {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: black;
}

.player {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 5;
    width: 10%;
    cursor: pointer;
}

.rotate {
    animation: rotate 8s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#f11,
#f12,
#f21,
#f22,
#f231,
#f232 {
    position: absolute;
    left: 50%;
}

#f11 {
    top: 0;
    margin-left: -50%;
    width: 100%;
}

#f12 {
    bottom: 8%;
    margin-left: -50%;
    width: 100%;
}

#f21 {
    top: 24%;
    margin-left: -40%;
    width: 80%;
}

#f22 {
    bottom: 10%;
    margin-left: -1.5%;
    width: 3%;
}

#f231 {
    top: 24%;
    margin-left: -50%;
    width: 100%;
}

#f232 {
    bottom: 3%;
    margin-left: -50%;
    width: 100%;
}

.pic {
    position: relative;
    margin-left: 8%;
    width: 84%;
}

.content {
    position: relative;
    line-height: 20px;
}

@media (max-height: 568px) {
    .content {
        line-height: 15px;
    }
}

.styleA .pic {
    padding-top: 42%;
    height: 38%;
}

.styleA .pic img {
    position: absolute;
    width: 100%;
}

.styleA .multi img {
    position: absolute;
    width: 70%;
}

.styleA .pic1 {
    top: 40%;
    right: 5%;
    transform: rotateZ(-10deg);
}

.styleA .pic2 {
    top: 50%;
    left: 0;
    transform: rotateZ(10deg);
}

.styleA .pic3 {
    top: 60%;
    right: 0;
}

.styleA .content {
    margin-left: 8%;
    width: 84%;
    color: white;
}

.styleA .content span {
    font-size: 14px;
    font-weight: bold;
}

.styleB .pic {
    padding-top: 50%;
    height: 28%;
}

.styleB .pic img {
    position: absolute;
    left: 5%;
    width: 70%;
}

.styleB .content {
    margin-left: 11%;
    width: 89%;
    color: black;
}

.styleB .content span {
    font-size: 14px;
    font-weight: bold;
}

.styleB .content .red {
    color: darkred;
}